[submodule "em2021-api"]
	path = em2021-api
	url = https://github.com/football-betting/em2021-api.git
	branch = master
[submodule "tips"]
	path = tips
	url = https://github.com/football-betting/tips.git
	branch = master
[submodule "match-api"]
	path = match-api
	url = https://github.com/football-betting/match-api.git
	branch = master
[submodule "match"]
	path = match
	url = https://github.com/football-betting/match.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/football-betting/frontend.git
	branch = master
[submodule "calculation-list"]
	path = calculation-list
	url = https://github.com/football-betting/calculation-list.git
	branch = master
[submodule "ranking-list"]
	path = ranking-list
	url = https://github.com/football-betting/ranking-list.git
	branch = master
