[submodule "em2021-api"]
	path = em2021-api
	url = git@github.com:football-betting/em2021-api.git
	branch = master
[submodule "tips"]
	path = tips
	url = git@github.com:football-betting/tips.git
	branch = master
